<!--<title><%= title %></title>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>

<body>
    <div class="toggle" style="text-align: center">
        <input class="toggle-event" type="checkbox" checked
               data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
        <div id="console-event">Status: ----</div>

    <script>
        let iosocket = io();
        $(function () {
            $('.toggle-event').change(function () {
                $('#console-event').html('Status: ' + $(this).prop('checked'))
                iosocket.emit('button', {
                    lamp_status: $(this).prop('checked')
                });
            })
        })
    </script>
</div>

</body>

</html>
